doctype html
html
  head
    title Forecast Slack Bot
    link(rel="stylesheet" href="/styles/main.css" type="text/css")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu:400,300")
  body
    .container.container--center
      a(href="/").logo
        include ../public/icons/white/svg/partlycloudy.svg
      .add-response
        h2.add-response--header 😇
        p.add-response--blurb Need some help? Email 
          a(href='mailto:brandon@smashingboxes.com?Subject=Forecast Slack Bot Help')
            | Brandon
          | .
