doctype html
html
  head
    title Forecast Slack Bot
    link(rel="stylesheet" href="/styles/main.css" type="text/css")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu:400,300")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/png" href="/icons/black/png/16x16/mostlysunny.png")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-133915372-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-133915372-1');
  body
    .container.container--center
      .logo
        include ../public/icons/white/svg/partlycloudy.svg
      h1 Forecast
      .blurb A weather bot for Slack
      .directions
        .step
          a(id="install-app" href="https://slack.com/oauth/authorize?scope=commands&client_id=" + process.env.SLACK_CLIENT_ID + "&redirect_uri=" + process.env.REDIRECT_URI)
            .add-to-slack
              img(alt="Add to Slack" height="50" src="/icons/slack_icon.png")
              .text
                | Add to Slack
        .line
          include ../public/icons/line.svg
        .step
          .screenshot
            img(src="/icons/message.png").slack
        .line
          include ../public/icons/line.svg
        .step
          .screenshot
            img(src="/icons/response.png").slack
      footer
        .sb
          a(href="https://brandonmathis.me")
            br
            | Created By Brandon Mathis
        .sb
          a(href="https://paypal.me/BeMathis?locale.x=en_US")
            br
            | 💖 Show Some Love &nbsp; 💖
        ul
          li
            | &nbsp;
            a(href="https://darksky.net/poweredby/")
              | Powered by DarkSky 
          li
            a(href="/help")
              | Need Help?
    script.
      document.getElementById('install-app').addEventListener('click', function() {
        gtag('event', 'install-app', {
          event_category: 'app',
          event_label: 'action',
          value: 'installed'
        });
      });
